{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tourist List</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="table-container">
        <h2>Tourist List</h2>
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                {% for tourist in obj %}
                <tr>
                    <td><img src="{{ tourist.Image.url }}" alt="Error"></td>
                    <td>{{ tourist.Name }}</td>
                    <td>{{ tourist.Address}}</td>
                    <td>{{ tourist.Phone}}</td>
                    <td>{{ tourist.Email}}</td>
                </tr>
                {% endfor %}
                <!-- Add more tourist rows as needed -->
            </tbody>
        </table>
    </div>
</body>
</html>
