{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Feedback</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>
    <div class="table-container">
        <h2>Feedback</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Feedback</th>
                    <th>Rating</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for i in obj %}
                <tr>
                    <td>{{ i.USER.Name}}<br><img src={{ i.USER.Image.url }}></td>
                    <td>{{ i.Feedback}}</td>
                    <td>{{ i.Rating}}</td>
                    <td>{{ i.Date}}</td>
                </tr>
                {% endfor %}
                <!-- Add more feedback rows as needed -->
            </tbody>
        </table>
    </div>
</body>
</html>
