{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Offers</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>

<div class="offers-container">
    <h2>Manage Restaurant Offers</h2>

    <!-- Form to add a new offer -->
    <form action="#" method="post" class="offer-form"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="offerName">Offer Name</label>
            <input type="text" id="offerName" name="OfferName" value="{{ offers.OfferName }}" required>
        </div>
        <div class="form-group">
            <label for="offerDetails">Offer Details</label>
            <textarea id="offerDetails" name="Details" required>{{ offers.Details }}</textarea>
        </div>
        <div class="form-group">
            <label for="offerImage">Offer Image</label>
            <input type="file" id="offerImage" name="Image" required>
            <img src="{{ offers.Image.url }}" alt="error" width=120 height=80>
        </div>
        <div class="form-group">
            <label for="startDate">Starting Date</label>
            <input type="date" name="StartingTime" value="{{ StartingTime }}" required>
        </div>
        <div class="form-group">
            <label for="endDate">Ending Date</label>
            <input type="date" name="endingTime" value="{{ endingTime }}" required>
        </div>
        <button type="submit" class="submit-btn">Edit Offer</button>
    </form>

</div>

</body>
</html>
