{% load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Facilities</title>
    <link rel="stylesheet" href="{% static 'styles/styles.css' %}">
</head>
<body>

<div class="facilities-container">
    <h2>Manage Restaurant Facilities</h2>

    <!-- Form to add a new facility -->
    <form action="#" method="post" class="facility-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="facilityName">Facility</label>
            <input type="text" id="facilityName" name="Facility" value="{{ facilities.Facility }}" required>
        </div>
        <div class="form-group">
            <label for="DetailsName">Details</label>
            <input type="text" id="DetailsName" name="Details" value="{{ facilities.Details }}" required>
        </div>
        <div class="form-group">
            <label for="status">Status</label>
            <select id="status" name="Status" required>
                <option value="Available" {% if facilities.Status == "Available" %}selected{% endif %}>Available</option>
                <option value="Unavailable" {% if facilities.Status == "Unavailable" %}selected{% endif %}>Unavailable</option>
            </select>
        </div>
        <button type="submit" class="submit-btn">Add Facility</button>
    </form>
    <hr>
</div>
</body>
</html>
